.list {
    margin: 0 -10px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    @media screen and(max-width: 768px) {
        margin: 0;
    }
}

.listItem {
    float: left;
    margin: 10px;
    width: calc(25% - 20px);

    @media screen and(max-width: 1280px) {
        width: calc(50% - 20px);
    }

    @media screen and(max-width: 768px) {
        width: 100%;
        margin: 0;
        float: none;
    }
}

.itemHeader {
    h3 {
        padding: 0 10px;
    }

    .itemPreview {
        img {
            width: 100%;
        }
    }

    .itemTitle {
        color: #09F;
    }

    .label {
        margin-left: 10px;
        color: #0F0;
        text-transform: uppercase;
    }
}

.itemFooter {
    padding: 10px;

    .itemPrice {
        color: #222;
        text-transform: uppercase;
    }
}